/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$gray-color: #A6A6A6;
$text-color: #333333;
$link-color: #56819F;
$link-color-hover: #FFA200;

/* Font sizes */
$paragraph-font-size: 16px;
$page-header-font-size: 16px;
$section-header-font-size: 16px;
$text-font-size: 14px;
$large-link-size: 16px;
$small-link-size: 13px;
$icon-link-size: 13px;

/* Fonts */
$brand-font: "Roboto", Helvetica, Arial;
$paragraph-font: "Roboto", Helvetica, Arial;
$page-header-font: "Roboto", Helvetica, Arial;
$section-header-font: "Roboto", Helvetica, Arial;
$text-font: "Roboto", Helvetica, Arial;
$link-font: "Roboto", Helvetica, Arial;

/* Decoration */
$link-decoration: none;
