/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$gray-color: #A6A6A6;
$text-color: #333333;
$link-color: #56819F;
$link-color-hover: #FFA200;
$gray-button: #979797;
$lightgray-button: #B9B9B9;
$orange-button: #F5811F;
$lightorange-button: #FFA100;
$menu-links: #999999;
$background: #EBEBEB;

/* Font colors */
$button-font-color: #FFFFFF;
$text-color-gray: #808080;

/* Font sizes */
$paragraph-font-size: 16px;
$page-header-font-size: 16px;
$section-header-font-size: 16px;
$text-font-size: 14px;
$large-link-size: 16px;
$small-link-size: 13px;
$icon-link-size: 13px;
$button-font-size: 18px;


/* Fonts */
$brand-font: "Roboto", Helvetica, Arial;
$paragraph-font: "Roboto", Helvetica, Arial;
$page-header-font: "Roboto", Helvetica, Arial;
$section-header-font: "Roboto", Helvetica, Arial;
$text-font: "Roboto", Helvetica, Arial;
$link-font: "Roboto", Helvetica, Arial;
$button-font: "Roboto", Helvetica, Arial;

/* Decoration */
$link-decoration: none;

/* Buttons */
$button-border-radius: 5%;

/* Backgrounds */

$sidebar-background: #191919;