@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

body {
    background-color: $background;
}

.page-header {
    font-family: $page-header-font;
    font-size: $page-header-font-size;
    color: $gray-color;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
} 

.section-header {
    font-family: $section-header-font;
    font-size: $section-header-font-size;
    color: $gray-color;
    font-weight: bold;
    line-height: 1.5;
}

.text {
    font-family: $text-font;
    color: $text-color;
    font-size: $text-font-size;
    font-weight: 300;
    line-height: 1.5;
}

.large-link {
    font-family: $link-font;
    font-size: $large-link-size;
    color: $link-color;
    font-weight: 300;
    text-decoration: $link-decoration;
}
.large-link:hover {
    color: $link-color-hover;
}

.small-link {
    font-family: $link-font;
    font-size: $small-link-size;
    color: $link-color;
    font-weight: 300;
    text-decoration: $link-decoration;
}

.small-link:hover {
    color: $link-color-hover;
}

.icon-link {
    font-size: $icon-link-size;
    color: $link-color;
}

.icon-link:hover {
    color: $link-color-hover;
}

.button {
    border: none;
    border-radius: $button-border-radius;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-family: $button-font;
    color: $button-font-color;
    font-weight: 300;
    font-size: $button-font-size;
}

.gray-button {
    background-color: $gray-button;
}

.lightgray-button {
    background-color: $lightgray-button;
}

.orange-button {
    background-color: $orange-button;
}

.lightorange-button {
    background-color: $lightorange-button;
}

.sidebar {
    background-color: $sidebar-background;
    max-width: 188px;
    height: 100vh;
    .menu{
        display: flex;
        align-items: baseline;
        .logo {
            padding: 19px 0px 0px 21px;
            width: 83px;
            height: 23px;
        }
        .menu-icon {
            width: 18px;
            height: 16px;
            padding-left: 46px;
        }
    }
    .icons {
        width: 14px;
        height: 13px;
        fill: #808080;
        padding: 0 15px 0 20px;
    }
    .menu-links {   
        list-style: none;
        font-size: 14px;
        line-height: 1.5;
        padding: 0;
        li {
            padding: 15px;        
        }
        .active {
            background-color: #272727;
            max-width: 100%;
            a {
                color: #FFFFFF;
            }
            .icons {
                fill: #FFFFFF;
            }
        }
        a {
            text-decoration: none;
            color: $menu-links;
            font-family: $link-font;
            font-weight: 200; 
        }
    }
    .manager {
        p {
            font-family: $text-font;
            color: $text-color-gray;
            font-size: $text-font-size;
            text-transform: uppercase;
            font-weight: 500; 
            padding-left: 18px;
            padding-top: 28px;
        }
        .manager-avatar {
            display: flex;
            align-items: center;
            padding-left: 18px;
            padding-top: 19px;
            a {
                padding-left: 11px;
                color: $link-color;
                font-family: $link-font;
                font-weight: 300;
                text-decoration: none;
                font-size: $text-font-size;
            }
        }
    }
}

